
:root {
	/* Hypar brand colors */
    /* --hy-co-dark-blue:#1a4b5d; */
    --hy-co-dark-blue: #1a4b5d;
	--hy-co-dark-blue-half:#27718b;
	--hy-co-gray:#a3c3cb;
	--hy-co-pale-green:#eff0f3;
	--hy-co-pink:#f05b6b;
	--hy-co-medium-blue:#1e85b4;
	--hy-co-light-blue:#0dafd3;
	--hy-co-pale-blue:#ebf6f9; /* Hypar dark blue lightened */
    --hy-co-warning: #f2cc5a;
    --hy-co-shadow: #dfe9eb;
}

a {
    color: var(--hy-co-pink);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--hy-co-pale-green)
}

body .toc {
    background-color: var(--hy-co-pale-green)
}

h1,h2,h3,h4,h5,h6 {
    color: var(--hy-co-dark-blue);
    font-family: 'Roboto', sans-serif;
}

header .navbar{
    border-width: 0px;
}

li {
    font-family: 'Roboto', sans-serif;
}

#logo {
    height: 50px;
}

#model {
    position: relative;
    width: 100%;
    height: 500px;
    /* background-image: linear-gradient(white, var(--hy-co-shadow)) */
}

.navbar {
    background: var(--hy-co-dark-blue);
    min-height: 40px;
}

.navbar a {
    background: none;
}

#navbar > ul > li.active > a.active {
    background: var(--hy-co-medium-blue);
    color: var(--hy-co-pale-green);
}

#navbar > ul > li > a {
    color: var(--hy-co-pink)
}

p {
    font-family: 'Roboto', sans-serif;
}

pre {
    background: var(--hy-co-dark-blue)
}

.sidefilter {
    background: var(--hy-co-pale-green);
    border: none
}

.sidetoc {
    background: var(--hy-co-pale-green);
    border: none
}

.sidenav {
    background: var(--hy-co-pale-green);
}

.subnav {
    background: var(--hy-co-pale-blue)
}

th {
    font-family: 'Roboto', sans-serif;
    font-weight: 700
}

.title {
    margin: 0px;
    padding: 15px;
    color: var(--hy-co-pale-green)
}

.toc {
    background: var(--hy-co-pale-green)
}

#toc > ul > li.active.in > a{
    color: var(--hy-co-medium-blue)
}

.xref.text-break {
    font-family: 'Roboto', sans-serif;
}