.grid {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 500px;
    /* grid-template-areas: 
        "code graph model"
        "output output output"; */
    grid-template-areas: 
        "model"
        "graph";
    border: 1px solid lightgray;
    height: calc(100vh - 16px);
}

#editor {
    grid-area: code;
    border-right: 1px solid lightgray;
}

#model {
    grid-area: model;
    background: linear-gradient(#b8b8b8, #ffffff);
}

#graph {
    grid-area: graph;
    position: relative;
    background: #cccccc;
}

#node-types {
    position: relative;
    z-index: 100;
    left: 20px;
    top: 20px;
}

.output {
    position: absolute;
    overflow-y: auto;
    font-family: monospace;
    font-size: 10pt;
    grid-area: output;
    border-top: 1px solid lightgray;
    padding: 10px;
    height: 500px;
    width: 500px;
}

div.output p.error {
    color: red;
}

div.output p.success {
    color: green;
}

div.output p.message {
    color: gray;
}

.run {
    position: absolute;
    right: 10px;
    bottom: 10px;
}