.grid {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:
        "inputs model"
        "code model"
        "output model";
    border: 1px solid lightgray;
    height: calc(100vh - 16px);
}

.input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 5px;
}

.inputName {
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: inputs;
    border-bottom: 1px solid lightgray;
    align-content: flex-start;
}

#editor {
    grid-area: code;
    border-right: 1px solid lightgray;
}

#model {
    grid-area: model;
    background: linear-gradient(#b8b8b8, #ffffff);
}

.output {
    overflow-y: auto;
    font-family: monospace;
    font-size: 10pt;
    color: gray;
    grid-area: output;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.message {
    color: gray;
}

.run {
    position: absolute;
    right: 10px;
    bottom: 10px;
}